.comment {
    position: relative;
    background-color: #4F6C50; /* Set background color */
    padding: 10px;
    border: 2px solid #fff; /* White border */
    border-radius: 5px; /* Rounded corners */
}

.commentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px; /* Space between header and comment body */
}

.attachmentButton {
    color: #fff; /* White text color */
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.25rem;
    cursor: pointer;
    margin-right: 20px; /* Space between edit comment and attachment icon */
}

.commentText {
    color: #fff; /* White text color */
}

.cancelBtn,
.submitBtn {
  background-color: #D8E2D1; 
  color: #002366; 
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  width: 100px;
  text-align: center;
}

.cancelBtn {
  background-color: #B4C6B8; 
}

button {
  display: inline-block;
}
