.message-container {
  padding: 20px;
  border-radius: 10px;
}

.alert {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: bold;
  background-color: #ff0000 !important; /* Red background */
  color: #fff !important; /* White text */
  border: 2px solid #fff !important; /* White border */
}

.alert-error {
  background-color: #ff0000 !important; /* Red background */
  color: #fff !important; /* White text */
  border: 2px solid #fff !important; /* White border */
}

.alert-success {
  background-color: #425C42 !important; /* Green background */
  color: #fff !important; /* White text */
  border: 2px solid black !important; /* black border */
}

.alert-heading {
  color: #fff !important;
}

.alert-link {
  color: #fff !important;
}

.alert-dismissible .close {
  color: #fff !important;
}
