.message-container {
    padding: 20px;
    color: #fff; /* Match the body background color */
    border-radius: 10px;

  }
  
  .alert {
    background-color: #425C42 !important; /* Ensure background matches site's theme */
    color: #fff !important; /* Ensure text color matches site's theme */
    border: 2px solid black !important; /* Ensure border matches site's theme */
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #000000;
  }
  
  .alert-heading {
    color: #fff !important; /* Ensure heading color matches site's theme */
  }
  
  .alert-link {
    color: #fff !important; /* Ensure link color matches site's theme */
  }
  
  .alert-dismissible .close {
    color: #fff !important; /* Ensure close button color matches site's theme */
  }
  