.cardContainer {
  max-width: 20rem;
  min-width: 15rem;
  margin: 1rem auto;
  border: 2px solid black;
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #425C42;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border: 2px solid black;
  border-top-left-radius: 10px; /* Rounded top-left corner */
  border-top-right-radius: 10px; /* Rounded top-right corner */
  border-bottom-left-radius: 10px; /* Straight bottom-left corner */
  border-bottom-right-radius: 10px; /* Straight bottom-right corner */
}
               
.cardBody {
  padding: 1rem;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.5rem;
}

.cardText {
  font-size: 0.95rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.petDetails {
  font-size: 0.85rem;
  color: #fff;
  margin-bottom: 1rem;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.iconButton {
  cursor: pointer;
  transition: transform 0.2s;
}

.iconButton:hover {
  transform: scale(1.2);
}

.iconButton.disabled {
  cursor: not-allowed;
}

.commentButton {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  font-size: 0.9rem;
}

.commentButton:hover {
  color: black;
  text-decoration: none;
}

.authorLink {
  color: #fff;
  font-size: 0.85rem;
  display: block;
  margin-bottom: 0.5rem;
}

.authorLink:hover {
  color: black;
  text-decoration: none;
}

.countText {
  font-size: 0.85rem;
  color: #fff;
}
