.formContainer {
  background-color: #4f6c50;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%; 
}

.formControl {
  margin-bottom: 20px; 
  width: 100%;
}

.imageUpload {
  margin-top: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagePreview {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

label {
  align-self: flex-start;
  cursor: pointer; 
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancelBtn {
  background-color: #D8E2D1;
  color: #002366;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.submitBtn {
  background-color: #D8E2D1; 
  color: #002366;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.submitBtn:hover,
.cancelBtn:hover {
  opacity: 0.8;
  background-color: #D8E2D1; 
  color: #002366;
}

@media (max-width: 768px) {
  .formContainer {
    padding: 10px;
  }
}
