body {
  background-color: #A8D5BA; 
  color: #FFFF; 
  font-family: 'Comic Sans MS', sans-serif; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFF; 
}

a {
  color: #FFFF; 
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

a:hover {
  color: #000000; 
  background-color: #FFFF; 
}

/* Inputs */
input, textarea {
  background-color: #FFF; 
  color: #377D49; 
  border: 1px solid #77B66B; 
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input:focus, textarea:focus {
  border-color: #6BAF5E; 
  outline: none;
}

.card {
  background-color: #425C42; 
  color: #d3d3d3; 
  border: 1px solid #d3d3d3; 
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

hr {
  border: 0;
  height: 1px;
  background: #77B66B; 
  margin: 20px 0;
}
